* {
  box-sizing: border-box;
  font-size: 14px;
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
}

body {
  background: #fafafa;
}

.title {
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  color: orange;
}

.blue {
  display: block;
  width: 100px;
  height: 48px;
  background-color: orchid;
}

.title1 {
  padding: 0 0 15px 15px;
  text-decoration: none;
  line-height: 1;
  color: #fff;
  font-family: Avalon, sans-serif;
}

#primary-article a {
  align-items: flex-end;
}
.by {
  font-size: 14px;
  color: grey;
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
}

.secnews {
  padding: 0 10px 15px 10px;
}

.t2 {
  padding: 0 5px 5px 0;
}
